{% extends "autenticacao_base.html" %}

{% load widget_tweaks %}

{% block title %} Recuperar senha {% endblock %}

{% block content %}

        <div class="card col-sm-10 col-lg-8 my-5 p-sm-0 ">
            <div class="card-header bg-light">
                <h2 class="text-success">Mudança de Senha</h2>
            </div>

            <div class="card-body">
                <p>Nós encaminharemos um email contendo instruções para criação recuperação de sua senha.</p>
                <p> Se você não receber um email em breve, por favor check se o endereço de email foi informado corretamente.</p>
            </div>
        </div>

{% endblock %}