{% extends "autenticacao_base.html" %}

{% load widget_tweaks %}

{% block title %} Recupere sua senha {% endblock %}

{% block content %}

    <div class="card col-sm-10 col-lg-8 my-5 p-sm-0">

        <div class="card-header bg-light">
            <h2 class="text-success">Esqueceu sua senha?</h2>
        </div>

        <div class="card-body">

            <p class="mb-4 text-muted"> Digite seu endereço de email para redefinir o password.</p>

            <form action="." method="post">
                {% csrf_token %}

                <div class="mb-3 col-8">
                    <label for="{{ form.email.id_for_label }}" class="form-label">{{ form.email.label }}</label>
                    {% render_field form.email class+='form-control' placeholder="exemplo@email.com" %}
                </div>

                <p>
                    <button type="submit" class="btn btn-success"> Enviar</button>
                </p>

            </form>
        </div>
    </div>

{% endblock %}