{% extends "autenticacao_base.html" %}

{% load widget_tweaks %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

<div class="card col-sm-10 col-lg-8 my-5 p-sm-0">

    <div class="card-header bg-light">
        <h2 class="text-success">Altere sua senha</h2>
        <p>Por favor, digite o seu password nos campos indicados.</p>
    </div>

    {% if validlink %}

        <form action="." method="post">
            {% csrf_token %}

            <div class="col-8 p-3 m-3">
                <div class="row g-3 align-items-center mb-4">
                    <div class="col-auto">
                        {% render_field form.new_password1 class+='form-control' placeholder="digite sua nova senha" %}
                    </div>
                </div>

                <div class="row g-3 align-items-center mb-5">
                    <div class="col-auto">
                       {% render_field form.new_password2 class+='form-control' placeholder="confirme sua senha" %}
                    </div>
                </div>

                <button type="submit" class="btn btn-success"> Alterar minha senha</button>

            </div>

        </form>

    {% else %}

    <p> O link de recuperação do password é inválido. Possivelmente, ele já foi utilizado.
        Por favor, solicite um novo link. </p>

    {% endif %}</div>

{% endblock %}