<footer class="bg-dark py-4 mt-4 {{var_position}}">
    <div class="container-fluid text-white">
        <div class="row justify-content-center">

            <div class="col-lg-2 text-left">
                <h5 class="text-uppercase fw-bold text-info"> Quem somos? </h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                </p>
            </div>

            <div class="col-lg-4 text-left">
                <h5 class="text-uppercase fw-bold text-info"> Onde queremos chegar?</h5>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis minima nobis officiis possimus, quam sequi vel voluptatibus! Amet commodi debitis dolorem, est explicabo facere laboriosam mollitia odit quasi sequi ut.
                </p>
            </div>

            <div class="col-lg-2">
                <h5 class="text-uppercase fw-bold text-info"> Siga-nos nas redes</h5>

                <p>
                    <i class="fa-brands fa-youtube"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">Youtube</a>
                </p>

                 <p>
                    <i class="fa-brands fa-github"></i>
                    <a href="#" class="text-white" style="text-decoration:none;">Github</a>
                </p>

            </div>

        </div>
    </div>
</footer>