{% extends "contato_base.html" %}
{% load static %}

{% block title %} Contato {% endblock %}

{% block content %}
    <div class="col-xl-5 col-md-6">

        <form method="post" action="{% url 'mensagem' %}">
            {% csrf_token %}
            <div class="card border-0 px-sm-0 p-md-5 mt-3">

                {% if messages %}
                    {% for message in messages %}
                        {% if message.tags %}
                            <div class="alert alert-success text-center" role="alert">
                                {{ message }}
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <div class="card-header bg-white border-0">
                    <h1 class="text-success text-center">Contato</h1>
                </div>
                {{ form }}
                <div class="card-footer p-0 pt-3 bg-white border-0 ">
                    <button type="submit" class="btn btn-success col-12">Enviar mensagem</button>
                </div>

            </div>
        </form>
    </div>
{% endblock %}
