<div id="modal-backdrop" class="modal-backdrop fade show" style="display:block;"></div>
<div id="modal" class="modal fade show" tabindex="-1" style="display:block;">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <form>
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title">
                        <div class="d-flex">
                            <div class="text-secondary me-1">Comentando o post</div>
                            <div class="text-primary">{{ post.titulo }} </div>
                        </div>
                    </h5>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label for="message-text" class="col-form-label">Comentário:</label>
                        <textarea
                            style="height: 100px"
                            class="form-control"
                            id="message-text"
                            name="comentario">
                        </textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button"
                            class="btn btn-secondary"
                            onclick="closeModal()">
                        Cancelar
                    </button>
                    <button class="btn btn-success"
							hx-post="{% url 'comentarios' post.id %}"
							hx-trigger="click"
                            onclick="closeModal()">
						Comentar
					</button>
                </div>

                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Primeiro comentário</li>
                    <li class="list-group-item">Primeiro</li>
                    <li class="list-group-item">Primeiro</li>
                    <li class="list-group-item">Primeiro</li>
                    <li class="list-group-item">Primeiro</li>
                </ul>

            </form>
        </div>
    </div>
</div>